@import "./style.scss";

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem auto 0;
}

.pagination-item {
  display: block;
  width: 80px;
  text-align: center;
}

.pagination-item-link {
  display: block;
  color: $text-color;
  border-bottom: 1px solid;
}
