@import "./style.scss";

.tags {
  display: flex;
  margin-top: 0.5rem;
}

.tag {
  display: block;
  margin-left: 0.5rem;
  padding: 0 0.4rem;
  border-radius: 2px;
  font-size: 0.8rem;
  color: $white-color;
  background-color: $link-color;
  &:first-of-type {
    margin-left: 0;
  }
}
